{% extends "layout.html" %}
{% block content %}
<h2>Manage a given scene</h2> 

<!-- Cast (portrays), crew (works on), location(i.e. shot at)-->

<form method="POST" action="/managescene_n_db">
  <input type="hidden" name="production" value="{{ production }}">
  <input type="hidden" name="scene" value="{{ scene }}">

  <ul>
     <li><label for="msndb-actor">What actor will play each character?</label>
         <ul>{% for c in characters %}
             <li><input type="hidden" name="characters" value="{{ c[0] }}">{{ c[1] }}: 
                 <select name= "actors">
                   {% for a in actors %}
       	           <option>{{ a[0] }} - {{ a[1] }}</option> 
                   {% endfor %}
                 </select>
              </li>
              {% endfor %}
          </ul>
     </li>


  </ul>
 <input type="submit" value="Add Scene">
</form>

{% endblock %}
