{% extends "layout.html" %}
{% block content %}

<h2>Production Console</h2>
<p>On this page, you can add scenes as well as manage personnel needs for any production.</p>
<p>With "Manage", you can select the cast and crew who will be working on a given scene.</p>
<table><tr><th>Page Numbers</th><th>Scene Description</th></tr>
       {% for s in scenelist %}
       <tr><td>{{ s[2].lower }}-{{ s[2].upper }}</td>
           <td>{{ s[1] }}</td>
           <td><a href="/managescene?production={{ production }}&scene={{ s[0] }}">Manage</a></td></tr>
       {% endfor %}
       <tr><td><a href="/addscene?production={{ production }}">Add a new scene</a></td></tr>
</table>

{% endblock %}
